*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow: hidden;
    overflow-y: auto;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
.logo span{  
     background: -webkit-radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 29%, rgba(0,212,255,1) 100%);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     background-image: linear-gradient(0deg, rgba(49,217,23,1) 17%, rgba(255,255,255,1) 40%, rgba(255,170,0,1) 81%) ;
     /* background: -webkit-linear-gradient(0deg, rgba(49,217,23,1) 17%, rgba(255,255,255,1) 50%, rgba(255,170,0,1) 81%);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
      */
    font-size: 50px;
    font-weight: bold;   
}

li{
    list-style: none;
}
.Header{
    background-color: #4d4855;
   background-image: linear-gradient(147deg, #4d4855 0%, #000000 74%);
}
/* Primary Color - Navy Blue */
.primary-color {
    background-color: #001f3f;
    color: #ffffff; /* Text color on the primary background */
}

/* Secondary Color - Gold/Dark Yellow */
.secondary-color {
    background-color: #FFD700;
    color: #333333; /* Text color on the secondary background */
}

/* Button Color - Dark Blue */
.button-color {
    background-color: #004b87;
    color: #ffffff; /* Text color on buttons */
}

/* Navbar Background - White */
.navbar-bg {
    background-color: #ffffff;
    color: #333333; /* Text color on the navbar background */
}

.carousel {
  --current-slide: 0;
  /* we set position relative so absolute position works properly for the buttons */
  position: relative;
  overflow: hidden;
}

.carousel-button {
  /* vertically centering the buttons */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;

  /* basic styling */
  padding: 0;
  margin: 0.5rem;
  border-radius: 50%;
  background-color: transparent;
  border: none;

  font-size: 1.5rem;
  cursor: pointer;

  transition: color 0.1s;
}

.carousel-button:hover {
  color: rgba(0, 0, 0, 0.5);
}

.carousel-button_next {
  /* The "next slide button" will be at the right */
  right: 0;
}

.slides {
  display: flex;
  transition: transform 0.5s;
  transform: translateX(calc(-100% * var(--current-slide)));
}

.slide {
  flex: 0 0 100%;
}

@media screen and (min-width: 768px) {
  .carousel-button {
    font-size: 2rem;
    margin: 1rem;
  }
}
:hover.active {
  box-shadow:rgba(11, 103, 153, 0.642);
  /* filter: drop-shadow(10px 10px 10px rgba(11, 103, 153, 0.642)); Soft gray shadow */
  color: black;
}
.active-bg{background: rgb(147,206,218);
  /* background: linear-gradient(90deg, rgba(147,206,218,1) 0%, rgba(62,55,221,1) 0%, rgba(201,47,213,1) 100%); */
}
 .active-hover{
  background-color: black;
  /* filter:drop-shadow(10 10 10 red); */
  /* box-shadow: #001f3f; */
}
/*
:hover.active-hover{
  background-color: #235f9b;
} */


@media (max-width:950px) {
  
  .hide_nav{
    display: none;
  }
}
@media (min-width:950px) {
  
  .hide_nav{
    display: flex;
  }
}

.open.active_nav{
   display: flex;
}
.close.active_nav{
  display: flex;
}
.mobile_nav.active_nav{
  z-index: 2;
  position: fixed;
  transform: translateX(0%);
  /* max-width: 400px; */
  /* display: flex; */
  scale: 1;
  opacity: 1;
  transition: all 0.2s;
  background: rgba(108, 123, 131, 0.171); /* Set your background color */
  backdrop-filter: blur(10px); /* Adjust the blur amount as needed */
  /* filter: blur(1px); */
}

.mobile_nav{
  /* overflow: hidden; */
  z-index: 2;
  position: absolute;
  /* display: none; */
  scale: 0;
  transform: translateX(1000%);
  opacity: 0.2;
  background: rgba(108, 123, 131, 0.171); /* Set your background color */
  backdrop-filter: blur(10px); /* Adjust the blur amount as needed */
  
  transition: all 0.4s;

}
.open {
  display: none;
}
.close {
 display: none;
}
.mobile_nav ul a{
  opacity: 2;
  transition: all 0.4s;
}
 
